body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #3e8e41, #39b0d8);
}

.container {
    max-width: 700px;
    width: 100%;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;

}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #3e8e41, #39b0d8);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 15px 0;

}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
    /*Separacion de alto entre cada cuadro*/
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 90%;
    /*Largo cuadros*/
    outline: none;
    border-radius: 5px;
    border: 1px solid #1ba1c9;
    /*Borde de cuadros*/
    padding-left: 15px;
    font-size: 16px;
    /*tamaño texto dentro de cuadro*/
    border-bottom-width: 3px;
    /*Sombreado de cuadros */
    transition: all 0.5s ease;
    /*Tiempo transcicion*/
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: rgb(71, 228, 76);
    /*Color Cuando este dentro de casilla*/

}

form .button {
    height: 45px;
    margin: 45px 0;

}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #3e8e41, #39b0d8);
}

form .button input:hover {
    background: linear-gradient(-135deg, #3e8e41, #39b0d8);
    /*Cambio de color, registrar*/

}

.container form .signip-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.container form .signip-link a {
    color: #16a085;
    text-decoration: none;
}

form .signip-link a:hover {
    text-decoration: underline;
}


@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .user-details {
        max-height: 300px;
        overflow-y: scroll;

    }

    .user-details::-webkit-scrollbar {
        width: 0;
    }
}