<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="VistaRegistro.css">
    
</head>
<body>
    <div class="container">
        <div class="title">Registro</div>
            <form action="#">
                <div class='user-details'>
                <div class='input-box'>
                    <span class='details'>First Name</span>
                    <input type="text" placeholder='Enter your First Name' required
                    
                    />
                </div>
                <div class='input-box'>
                    <span class='details'>Last Name</span>
                    <input type="text" placeholder='Enter your Last Name' required
                   
                    />
                </div>
                <div class='input-box'>
                    <span class='details'>Address</span>
                    <input type="text" placeholder='Enter your Address' required
                    
                    />
                </div>
                <div class='input-box'>
                    <span class='details'>Number Phone</span>
                    <input type="text" placeholder='Enter your Number Phone' required
                    
                    />
                </div>
                <div class='input-box'>
                    <span class='details'>Email</span>
                    <input type="text" placeholder='Enter your Email' required
                    
                    />
                </div>
                <div class='input-box'>
                    <span class='details'>Password</span>
                    <input type="password" placeholder='Enter your password' required
                    
                    />
                </div>
                </div>
                

                <div class='button'>
                <input type="submit" value="Registrar" />
                <div class="signip-link">Already have an account: <a href="VistaLogin.html">Sign in</a></div>

                </div>
            </form>
    </div>
</body>
</html>